{% extends 'layouts.html' %}
{% load humanize %}
{% block content%}
<link rel="stylesheet"  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<div class="row mt-5"></div>
<div class="row mt-5"></div>



      <body>
        <div class="container h-100 mt-5 font1" >
            <div class="d-flex justify-content-center h-200 " >
                <div class="user_card" style="width: 5000px;" >
                    <div class="d-flex justify-content-center font1 "style="text-shadow: 0 0 0.5px #1d1d1d, 0 0 2px #7c7c7c, font-weight: 300">
                        <h2 id="form-title" >ข้อมูลสินค้า</h2>
                    </div>
                    <div class="d-flex justify-content-center form_container ">
                        <div class="row p-3">
                            <div class="col-mt">
                                <table class="table thead" style=" font-size: large ;color: #40403F; ">
                                  <div class="card font1 " style="background-color:#F9F8F3">
                                    <div class="row">
                                      <aside class="col-sm border-right">
                                  <article class="gallery-wrap"> 
                                  <div class="img-big-wrap " >
                                    <div><img class="card-img-top img-fluid" src="{{product.image.url}}"></a></div>
                                  </div>
                                  </article>
                                      </aside>
                                      <aside class="col-sm-7">
                                  <article class="card-body p-5">
                                    <h3 class="title mb-3">{{product.name}}</h3>
                                  
                                  <p class="price-detail-wrap"> 
                                    <span class="price h3 text-dark"> 
                                      <span>{{product.price|intcomma}}฿</span>
                                  </p>
                                  <dl class="item-property">
                                    <dt>รายละเอียดสินค้า</dt>
                                    <dd><p>{{product.description}}</p></dd>
                                  </dl>
                                  <dl class="item-property">
                                    <dt>จำนวนสินค้าที่พร้อมขาย</dt>
                                    <dd><p>{{product.stock}} {{product.unit}}</p></dd> <p></p>
                                  </dl>
                                  <hr>
                                    <div class="row">
                                      <div class="col-sm-5">
                                          {% if product.stock <= 0 %}
                                                <h5 class="text-danger" >สินค้าหมด</h5>
                                          {% else %}
                                                <a href="{%url 'addCart' product.id %}" class="btn login_btn" style="width: 150px">เพิ่มลงตะกร้า</a>
                                          {% endif %}
                                        </div>
       </body>




       <style>
        body,
        html {
            margin: 0;
            padding: 0;
            height: 100%;
            background: #fff !important;
        }
        .user_card {
            width: 350px;
            margin-top: auto;
            margin-bottom: auto;
            background: #F9F8F3;
            position: relative;
            display: flex;
            justify-content: center;
            flex-direction: column;
            padding: 10px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            border-radius: 5px;
    
        }
    
        .form_container {
            min-height: 100%;  
            min-height: 20vh;
    
            align-items: center;
        }
    
        #form-title{
            color: #40403F;
            
        }
    
        .login_btn {
            background: #82B400 !important;
            color: white !important;
        }
        .login_btn:focus {
            box-shadow: none !important;
            outline: 0px !important;
        }
        .login_container {
            padding: 0 2rem;
        }
        .input-group-text {
            background: #f7ba5b !important;
            color: white !important;
            border: 0 !important;
            border-radius: 0.25rem 0 0 0.25rem !important;
        }
        .input_user,
        .input_pass:focus {
            box-shadow: none !important;
            outline: 0px !important;
        }
    
        #messages{
            background-color: grey;
            color: #fff;
            padding: 10px;
            margin-top: 10px;
        }
    
        .font1{
        font-family: Prompt;
          font-weight: 300;
          color: #40403F;
    
        }
    
    </style>

    
    {% endblock%}
