<body style="height: 1500px;">
  <nav class="navbar navbar-expand-sm">
      <!-- Content -->
      <div class="container-fluid">
          <!-- Brand -->
          <a href="#" class="navbar-brand">KongRuksiam</a>
          <!-- Menu -->
          <ul class="navbar-nav">
              <li class="nav-item">
                  <a href="#" class="nav-link">Home</a>
              </li>
              <li class="nav-item">
                  <a href="#" class="nav-link">About</a>
              </li>
          </ul>
      </div>
  </nav>
  <br>
  <!-- Navbar Color -->
  <nav class="navbar navbar-expand-sm navbar-dark bg-success">
      <!-- Content -->
      <div class="container-fluid">
          <!-- Brand -->
          <a href="#" class="navbar-brand">KongRuksiam</a>
          <!-- Menu -->
          <ul class="navbar-nav">
              <li class="nav-item">
                  <a href="#" class="nav-link">Home</a>
              </li>
              <li class="nav-item">
                  <a href="#" class="nav-link">About</a>
              </li>
          </ul>
      </div>
  </nav>

  <br>
  <!-- Navbar Toggle -->
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
      <!-- Content -->
      <div class="container-fluid">
          <!-- Brand -->
          <a href="#" class="navbar-brand">KongRuksiam</a>
          <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarToggle">
              <span class="navbar-toggler-icon"></span>
          </button>
          <!-- Menu -->
          <div class="collapse navbar-collapse" id="navbarToggle">
              <ul class="navbar-nav">
                  <li class="nav-item">
                      <a href="#" class="nav-link">Home</a>
                  </li>
                  <li class="nav-item">
                      <a href="#" class="nav-link">About</a>
                  </li>
                  <li class="nav-item">
                      <a href="#" class="nav-link">Contact</a>
                  </li>
                  <li class="nav-item">
                      <a href="#" class="nav-link">Product</a>
                  </li>
              </ul>
          </div>
      </div>
  </nav>
  
  <br>
  <!-- Navbar Form -->
  <nav class="navbar navbar-expand-sm navbar-dark bg-danger">
      <!-- Content -->
      <div class="container-fluid">
          <!-- Brand -->
          <a href="#" class="navbar-brand">KongRuksiam</a>
          <!-- Menu -->
          <ul class="navbar-nav">
              <li class="nav-item">
                  <a href="#" class="nav-link">Home</a>
              </li>
              <li class="nav-item">
                  <a href="#" class="nav-link">About</a>
              </li>
              <form class="d-flex">
                  <input type="text" class="form-control me-2" placeholder="ป้อนข้อมูล">
                  <input type="submit" value="ค้นหา" class="btn btn-outline-dark">
              </form>
          </ul>
      </div>
  </nav>
  
  <br>
  <!-- Fixed-Top -->
  <nav class="navbar navbar-expand-sm navbar-dark bg-primary fixed-bottom">
      <!-- Content -->
      <div class="container-fluid">
          <!-- Brand -->
          <a href="#" class="navbar-brand">KongRuksiam</a>
          <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarToggle">
              <span class="navbar-toggler-icon"></span>
          </button>
          <!-- Menu -->
          <div class="collapse navbar-collapse" id="navbarToggle">
              <ul class="navbar-nav">
                  <li class="nav-item">
                      <a href="#" class="nav-link">Home</a>
                  </li>
                  <li class="nav-item">
                      <a href="#" class="nav-link">About</a>
                  </li>
                  <li class="nav-item">
                      <a href="#" class="nav-link">Contact</a>
                  </li>
                  <li class="nav-item">
                      <a href="#" class="nav-link">Product</a>
                  </li>
              </ul>
          </div>
      </div>
  </nav>
  
  <br>
  <!-- Fixed-Bottom -->
  <br>
   <!-- Sticky-Top -->
   <nav class="navbar navbar-expand-sm navbar-dark bg-warning sticky-top">
      <!-- Content -->
      <div class="container-fluid">
          <!-- Brand -->
          <a href="#" class="navbar-brand">KongRuksiam</a>
          <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarToggle">
              <span class="navbar-toggler-icon"></span>
          </button>
          <!-- Menu -->
          <div class="collapse navbar-collapse" id="navbarToggle">
              <ul class="navbar-nav">
                  <li class="nav-item">
                      <a href="#" class="nav-link">Home</a>
                  </li>
                  <li class="nav-item">
                      <a href="#" class="nav-link">About</a>
                  </li>
                  <li class="nav-item">
                      <a href="#" class="nav-link">Contact</a>
                  </li>
                  <li class="nav-item">
                      <a href="#" class="nav-link">Product</a>
                  </li>
              </ul>
          </div>
      </div>
  </nav>
  <br>  

  {% comment %} <body>
    <div id="myCarousel" class="carousel slide font1" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-label="Slide 1" aria-current="true"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2" class=""></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3" class=""></button>
      </div>
      <div class="carousel-inner">  
        <div class="carousel-item active">
          <img class="bd-placeholder-img" width=auto height="372" src="https://i.imgur.com/adstmwr.jpg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="300%" fill="#777"></rect></img>
  
          <div class="container">
            <div class="carousel-caption text-start">
              <h1 style="text-shadow: 0 0 3px #1d1d1d, 0 0 5px #7c7c7c"><strong>ส้มโอขาวแตงกวา</strong></h1> 
              <h5 style="text-shadow: 0 0 3px #1d1d1d, 0 0 5px #7c7c7c"><strong>เป็นไม้ผลท้องถิ่นที่สำคัญทางด้านเศรษฐกิจของจังหวัดชัยนาท ขนาดผลกลมโตปานกลาง เนื้อกุ้งใหญ่สีขาวแห้ง หวานฉ่ำ รสอร่อย เป็นไม้ผลที่ปลูกสืบต่อกันมานานกว่า 100 ปี ถึงปัจจุบัน</strong></h5>

            </div>
          </div>
        </div>
        <div class="carousel-item font1">
          <img class="bd-placeholder-img" width="1300" height="372" src="https://i.imgur.com/Wodvnqa.jpg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"></rect></img>

          <div class="container">
            <div class="carousel-caption">
              <h1 style="text-shadow: 0 0 3px #1d1d1d, 0 0 5px #7c7c7c"><strong>ขาวเจ๊กชัยนาท</strong></h1> 
              <h5 style="text-shadow: 0 0 3px #1d1d1d, 0 0 5px #7c7c7c"><strong>“ขาวเจ๊ก” ข้าวพื้นเมืองสายพันธุ์ดี รสชาติอร่อยและมีกลิ่นหอมอ่อนๆไม่แพ้ข้าวหอมมะลิ เป็นข้าวเจ้านาปีที่มีเมล็ดค่อนข้างยาวใหญ่และอ้วน ที่สำคัญสีของเปลือกเมล็ดเป็นสีฟางอ่อนสวย</strong></h5>

            </div>
          </div>
        </div>
        <!-- <div class="carousel-item">
          <svg class="bd-placeholder-img" width="1300" height="372" scr="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"></rect></svg>
  
          <div class="container">
            <div class="carousel-caption text-end">
              <h1 style="text-shadow: 0 0 3px #1d1d1d, 0 0 5px #7c7c7c"><strong>Test 01 02 03</strong></h1> 
              <h5 style="text-shadow: 0 0 3px #1d1d1d, 0 0 5px #7c7c7c"><strong>Test 01 02 03</strong></h5>

            </div>
          </div>
        </div> -->
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </body> {% endcomment %}