{% extends 'layouts.html' %}
{% load static %}
{% load humanize %}
{% block content%}

<link rel="stylesheet"  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<style>
	.login_btn {
        background: #82B400 !important;
        color: white !important;
    }
	
	.button1{
		outline-color: #82B400
	}

	.nav01 {	
	background-color: #F9F8F3;
		}
	.nav02 {	
	background-color: #134115;
		}
	.nav03 {	
	background-color: #82B400;
	border-radius: 30px;
		}
	.font1{
		  font-family: Prompt;
		  font-weight: 300;
		  color: #40403F;
		}
		.font11{
		  font-family: Prompt;
		  font-weight: 500;
		  font-size: 1.9ch;
		  color: #40403F;
		}
	.font2{
		  font-family: Prompt;
		  font-weight: 500;
		  color: #40403F;
		  border:#82B400 ;
		}
	.font3{
		  font-family: Prompt;
		  font-weight: 300;
		  color: #F9F8F3;
		}
	
	/* .body,html{
		height: 100%;
		width: 100%;
		margin: 0;
		padding: 0;
		background: #82B400 !important;
		} */
	
		.searchbar{
		margin-bottom: auto;
		margin-top: auto;
		height: 45px;
		background-color: #ffff;
		border-radius: 30px;
		padding: 5px;
		}
	
		.search_input{
		color: white;
		border: 0;
		outline: 0;
		background: none;
		width: 75px;
		caret-color:transparent;
		line-height: 37px;
		transition: width 0.4s linear;
		}
	
		.searchbar:hover > .search_input{
		padding: 0 10px;
		width: 250px;
		caret-color: #82B400;
		transition: width 0.4s linear;
		}
	
		.searchbar:hover > .search_icon{
		background: white;
		color: #82B400;
		}
	
		.search_icon{
		height: 35px;
		width: 35px;
		float: left;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 50%;
		color:#82B400;
		text-decoration:none;
		}

		.dropdown-item:active {
        background-color: #82B400 !important;
		}
	</style>


<div class="container mt-5 font11">
    <div class="row my-2">
      <div class="col-md-12">
      <div class="invoice-title text-right">
          <h3>รหัสใบสั่งซื้อ # {{order.id}}</h3>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-6">
          <address>
          <strong>ผู้ขายสินค้า:</strong><br>
            ShopKaset
            Pakkapon<br>
            183/01 ถ. อ. <br>
            จังหวัด. <br>
            10210
          </address>
        </div>
        <div class="col-md-6 text-right">
          <address>
            <strong>ผู้ซื้อสินค้า:</strong><br>
            ชื่อ :{{order.name}}<br>
            ที่อยู่ : {{order.address}}<br>
            จังหวัด : {{order.city}}<br>  
            รหัสไปรษณีย์ : {{order.postcode}}
          </address>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><strong>รายการสั่งซื้อ</strong></h3>
        </div>
        <div class="panel-body">
          <div class="table-responsive">
            <table class="table table-condensed">
              <thead>
                    <tr>
                    <td><strong>ชื่อสินค้า</strong></td>
                    <td class="text-center"><strong>ราคา</strong></td>
                    <td class="text-center"><strong>จำนวน</strong></td>
                    <td class="text-right"><strong>รวม</strong></td>
                    </tr>
              </thead>
              <tbody>
                {% for item in order_items%}
                <tr>
                  <td>{{item.product}}</td>
                  <td class="text-center">{{item.price}}</td>
                  <td class="text-center">{{item.quantity}}</td>
                  <td class="text-right">{{item.sub_total | intcomma}}</td>
                </tr>
                {% endfor %}
                <tr>
                    <td class="no-line"></td>
                    <td class="no-line text-center"></td>
                    <td class="no-line text-center">ยอดชำระเงิน</td>
                    <td class="no-line text-right">{{order.total | intcomma}}</td>
                  </tr>
              </tbody>
            </table>
            <button class="btn login_btn" onclick="window.print();">
              <i class="fas fa-print"></i>
              ปริ้นใบสั่งซื้อ
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>

{% endblock %}

